# Virtual env
venv/

# Logs
logs/

# Datasets
dataset/

# Transformer model
models/transformer_model/

# Voice / audio (HUGE)
models/voice_models/
io_layer/advanced_io
io_layer/stt_vosk.py
ui/local_app.py

# Python Junk
__pycache__
core/__pycache__/
intent_system/__pycache__/
io_layer/__pycache__/
skills/__pycache__/
*.pyc

#OS Junk
.DS_Store
